<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>KTH | {{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <link rel="shortcut icon" id="favicon" href="//www.kth.se/img/icon/favicon.ico">

    {{#if canonicalUrl}}
      <link href="{{canonicalUrl}}" rel="canonical">
    {{/if}}

    {{prefixStyle '/static/style/css/kth-bootstrap.min.css' 'styles' 'screen'}}
    {{prefixStyle '/static/css/kth-style-web.css' 'styles' 'screen'}}

    {{prefixScript '/static/js/app/view/exampleView.js'}}
    {{prefixScript '/static/js/app/view/view-utils.js'}}

    {{{render 'styles'}}}

    {{prefixScript '/static/js/vendor.js' 'head-scripts'}}

    {{#extend 'head-scripts'}}
      <script src="//www.kth.se/social/toolbar/widget.js"></script>
      <!-- analytics start -->
      {{{blocks.analytics}}}
      <!-- analytics end -->
    {{/extend}}

    {{{render 'head-scripts'}}}
  </head>
  <body>
    <div class="container">
      {{> kthHeader }}
      <div id="main-content">
        {{{body}}}
      </div>
      {{> kthFooter }}
    </div>

    {{{render 'scripts'}}}
  </body>
</html>
